<html>
<head> <!-- 1. Load libraries -->
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "socketcluster.js" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "fullpage/index.css" %>

  <script src="/assets/intl/dist/Intl.js"></script>
  <script src="/assets/intl/locale-data/jsonp/en.js"></script>
  <script src="/assets/es6-shim/es6-shim.min.js"></script>
  <script src="/assets/systemjs/dist/system-polyfills.js"></script>
  <script src="/assets/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/assets/systemjs/dist/system.src.js"></script>
  <script src="/assets/rxjs/bundles/Rx.js"></script>
  <script src="/assets/angular2/bundles/angular2.dev.js"></script>
  <script src="/assets/angular2/bundles/http.dev.js"></script>
  <script src="/assets/angular2/bundles/router.dev.js"></script>
  <!--<script src="/assets/socket.io-client/socket.io.js"></script>-->
  <!--<script src="/assets/socketcluster-client/socketcluster.js"></script>-->

</head>
<body>

<script>
  System.config({
    map: {
      'app': '/app',
//      "socket.io-client": "node_modules/socket.io-client/socket.io.js"
    },
    packages: {
      'app': {
        format: 'register',
        defaultExtension: 'js',
      },
//      'socket.io-client': {
//        defaultExtension: "js"
//      }
    }
  }); // and to finish, let's boot the app!
  System.import('app/chat/test_socket.component');
  System.import('app/chat/list_room.component');
</script>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Real-Time Chat With <font color="red"> Angular</font><font color="blue">JS 2 </font></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a><%= image_tag("user1.png", class: "avatar") %><%= params[:user] %></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("msg.png", class: "private-msg") %>
              <span class="badge pull-right notification-msg">1</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
             <list-room></list-room>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Setting <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<test-socket></test-socket>

</body>
</html>
