<html>
<head> <!-- 1. Load libraries -->
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "socketcluster.js" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "fullpage/index.css" %>

  <script src="/assets/intl/dist/Intl.js"></script>
  <script src="/assets/intl/locale-data/jsonp/en.js"></script>
  <script src="/assets/es6-shim/es6-shim.min.js"></script>
  <script src="/assets/systemjs/dist/system-polyfills.js"></script>
  <script src="/assets/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/assets/systemjs/dist/system.src.js"></script>
  <script src="/assets/rxjs/bundles/Rx.js"></script>
  <script src="/assets/angular2/bundles/angular2.dev.js"></script>
  <script src="/assets/angular2/bundles/http.dev.js"></script>
  <script src="/assets/angular2/bundles/router.dev.js"></script>
  <!--<script src="/assets/socket.io-client/socket.io.js"></script>-->
  <!--<script src="/assets/socketcluster-client/socketcluster.js"></script>-->

</head>
<style>
  .com-A {
    border:red thin solid;
  }

  .com-B {
    border:blue thin solid;
  }
</style>
<body>

<script>
  System.config({
    map: {
      'app': '/app'
    },
    packages: {
      'app': {
        format: 'register',
        defaultExtension: 'js',
      }
    }
  }); // and to finish, let's boot the app!
  System.import('app/angular/component_1.component');
  System.import('app/angular/component_2.component');
</script>

<div class="container">
  <div class="com-A">
    <h3>Component 1</h3>
    <ul>
      <render-A></render-A>
    </ul>
  </div>

  <div class="com-B">
    <h3>Component 2</h3>
    <ul>
      <render-B></render-B>
    </ul>
  </div>
</div>



</body>
</html>
