<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "socketcluster.js" %>
<%= stylesheet_link_tag "bootstrap.css" %>


<style>
  .show_msg, .list_msg {
    border: darkgray thin solid;
    height: 400px;
    margin-bottom: 5px;
    overflow-y: auto;
  }

  .red {
    background-color: red;
  }

  .grey {
    background-color: gainsboro;
  }

  .right-msg {
    float: right;
    border: gainsboro thin solid;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
  }

  .left-msg {
    float: left;
    border: gainsboro thin solid;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
  }

</style>
<div class="container">
  <div class="row">
    <h2> ร้าน : <a id="store"><%= @login_user.name %></a> สนทนากับ : <a id="username"></a></h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-8 show_msg">
      <!-- Chat Message -->
    </div>
    <div class="col-xs-4 list_msg">
      <!-- List of Chat -->
    </div>
  </div>
  <div class="row">
    <input type="text" id="txt_msg" class="col-xs-9">
    <input type="button" id="btn_send" value=" Send Message " class="col-xs-3">
  </div>
</div>




<script>
  var socket = socketCluster.connect({
    host:'192.168.1.147',
    port: 7999
  });

  function recieve_chat_store() {
    var recieve_chat_store = socket.subscribe('recieve_chat_store');
    recieve_chat_store.watch(function(data){

      var current_user = String($("#store").text().trim());
      var current_user_data = String(data.send_form.trim());
//      console.log(data.store);
//      console.log(current_user);
//      console.log(current_user_data);

      // render list msg
      if(current_user != current_user_data){
        var layout_user =  $('#'+data.user);

        if(current_user == String(data.store).trim()){
          if (layout_user.length == 0){
            $(".list_msg").append('<p id='+ data.user +' onclick="select_user(\'' + data.user + '\')">'+data.user+'<span class="badge red" id='+ data.user +'>1</span></p>');
            var badge = $("span[id='" + data.user + "']");
//          console.log(badge);
          }else {
            if (current_user_data != $("#username").text().trim()) {
              var current_badge = $("span[id='" + data.user + "']");
              var element = current_badge[0];
              var current_count = element.innerHTML
//          console.log(elemet.innerHTML);
              $(element).replaceWith('<span class="badge red" id=' + data.user + '>' + (parseInt(current_count) + 1) + '</span></p>');
            }
          }
        }
      }

      // render show message
      if($("#username").text() != "" && ($("#username").text() == data.send_form) && $("#store").text() == data.store){
        console.log(' IN ');
          $(".show_msg").append('<div class="row"><div class="left-msg">' + data.send_form + ' พิมพ์ว่า : ' + data.message + '</div></div>');
      }else if ($("#username").text() != "" && $("#store").text() == data.send_form){
        console.log(' IN ELSE ');
          $(".show_msg").append('<div class="row"><div class="right-msg">' + data.store + ' พิมพ์ว่า : ' + data.message + '</div></div>');
      }

      // set bottom scroll
      $(".show_msg").scrollTop($('.show_msg').height());

    });
  }

  function send_msg_to_store(){
    if(!$("#username").text() == ""){
      var data = {
        user: $("#username").text(),
        store: $("#store").text(),
        message: $("#txt_msg").val(),
        send_form: $("#store").text()
      };

      socket.emit('chat_store', data);
    }else {
      alert(' ยังไม่ได้เลือกผู้สนทนา ');
    }
    $("#txt_msg").val("");
  }

  function init_load_list_chat_user(){
    $.ajax({
      method: "GET",
      url: "http://192.168.1.147:3000/api/store_get_list_chat_user/" + $("#store").text().trim(),
    })
        .done(function( data ) {
          console.log(data);

          for(i=0; i<=data.length-1; i++){
            $(".list_msg").append('<p id='+ data[i].user +' onclick="select_user(\'' + data[i].user + '\')">'+data[i].user+'<span class="badge grey" id='+ data[i].user +'>0</span></p>');
          }

        });
  }

  function init_load_message() {
    $.ajax({
      method: "GET",
      url: "http://192.168.1.147:3000/api/get_load_message/" + $("#store").text().trim()  + "/" + $("#username").text().trim(),
    })
    .done(function( data ) {
//      console.log(data);
//      console.log(data.length);

      for(i=0; i<=data.length-1; i++){
        // render show message
        if($("#username").text() != "" && ($("#username").text().trim() == data[i].send_form) && $("#store").text().trim() == data[i].store) {
          console.log(' IN ');
          $(".show_msg").append('<div class="row"><div class="left-msg">' + data[i].send_form + ' พิมพ์ว่า : ' + data[i].message + '</div></div>');
        }else if ($("#username").text() != "" && $("#store").text() == data[i].send_form){
          console.log(' IN ELSE ');
          $(".show_msg").append('<div class="row"><div class="right-msg">' + data[i].store + ' พิมพ์ว่า : ' + data[i].message + '</div></div>');
        }
      }

    });
  }

  function select_user(data) {
    console.log(data);
    if(data != ""){
      $("#username").text(data);

      //reset show message
      $(".show_msg > div").remove();

      //reset badge
      var current_badge = $("span[id='"+ data +"']");

      init_load_message();

      $(current_badge).replaceWith('<span class="badge grey" id='+ data +'>'+ parseInt(0) +'</span></p>');

    }
  }

  $(document).ready(function(){
    recieve_chat_store();

    init_load_list_chat_user();

    $('#btn_send').click(function(e){
      send_msg_to_store();
    });

  });

  window.addEventListener('popstate', function(event) {
    if (event.state) {
      socket.disconnect();
      location.reload();
    }
  }, false);


</script>